.container {
  padding: 0 2rem;
  background-color: #141e24;
  height: 100vh;
}

.main {
  padding: 1rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #141e24;
  position: relative;
}

.footer {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  color: #CD955C;
}

.footer a {
  display: flex;
  position: fixed;
  justify-content: center;
  border-top: 2px solid #CD955C; 
  align-items: center;
  font-family: "NeueMachine-light";
  padding-left: 20rem 0;
  padding-right: 20rem 0;
  padding: 1rem;
  width: 100%;
  bottom: 0px;
}

.footer b {
  display: flex;
  position: fixed;
  justify-content: center;
  border-top: 2px solid #CD955C; 
  align-items: center;
  font-family: "NeueMachine-light";
  padding-left: 20rem 0;
  padding-right: 20rem 0;
  padding: 1rem;
  width: 100%;
  bottom: 0px;

}

.title a {
  color: #CD5C5C;
  text-decoration: none;
  font-family: "NeueMachine"; 
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: none;
}

.title b {
  font-size: 2rem;
  color: #CD955C;
}

.title c {
  color: #CD5C5C;
  text-decoration: none;
  font-family: "NeueMachine"; 
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 10rem;
  font: "NeueMachine-bold";
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 2rem 0;
  line-height: 3.5rem;
  font-size: 2.33rem;
  color: #CD955C;
  font-family: "NeueMachine-Light";
}

.description b {
  font-family: "NeueMachina-PlainRegularItalic";
  font-size: 2rem;
  color: #CD955C;
  margin: 1rem;
}

.date {
  font-family: "NeueMachina-PlainRegularItalic";
  font-size: 1.33rem;
  color: #f4ebdb;
  margin: 1rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 800px;
}

.grid b {
  display: wrap;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}
.grid a { 
  font-size: 1.3rem;
  font-family: "NeueMachine-light";
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: #CD955C;
  text-decoration: none;
  border: 5px solid #CD955C;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  object-fit: contain;
  font-family: "NeueMachine-light";
}

.card:hover,
.card:focus,
.card:active {
  color: #CD5C5C;
  border-color: #CD5C5C;
}

.card a {
  margin: 1rem;
  align-items: center;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.card c {
  border-radius: 5px;
  width: 5rem;
  height: 4rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
  border: 5px solid #CD955C;
  border-radius: 10px;
}
 
.connect { margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: #CD955C;
  text-decoration: none;
  border: 5px solid #CD955C;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  object-fit: contain;
  font-family: "NeueMachine-light";
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.connect:hover,
.connect:focus,
.connect:active {
  color: #CD5C5C;
  border-color: #CD5C5C;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  
  .container {
     padding: 0 2rem;
     background-color: #141e24;
     min-height: 100vh;
     height: auto;
  }

  .main{
     width: 100%;
     padding: 0rem;
     border: 0px;
  }

  .title {
     font-size: 5rem;
     padding: 1rem;
  }

  .title a {
     font-size: 4rem;
     padding: 2rem;
  }

  .title b {
     font-size: 3rem;
     padding: 1rem;
     line-height: 15px;
  }

  .description {
     font-size: 1.5rem;
     line-height: 2.5rem;
  }

  .grid {
    width: 100%;
    flex-direction: column;
  }

  .blog {
    box-sizing: border-box;
    width: 99%;
    min-height: 100vh;
		min-width: 200px;
		max-width: 980px;
		margin: 0 auto;
		padding: 15px;
    overflow-x: hidden;
  }

  .footer {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    color: #CD955C;
  }

  .footer a {
    display: flex;
    position: sticky;
    justify-content: center;
    border-top: 1px solid #CD955C; 
    align-items: center;
    flex-grow: 1;
    font-family: "NeueMachine-light";
    padding-left: 20rem 0;
    padding-right: 20rem 0;
    padding: 1rem;
  }

  .footer b {
    display: flex;
    position: absolute;
    bottom: 0;
    justify-content: center;
    border-top: 1px solid #CD955C; 
    align-items: center;
    flex-grow: 1;
    font-family: "NeueMachine-light";
    padding-left: 20rem 0;
    padding-right: 20rem 0;
    padding: 1rem;
  }
}

@media (prefers-color-scheme: dark) {
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}

@font-face {
   font-family: "NeueMachine";
   src: url("../public/NeueMachina-Ultrabold.otf");
} 

@font-face {
   font-family: "NeueMachine-light";
   src: url("../public/NeueMachina-Light.otf");
} 

@font-face {
   font-family: "NeueMachina-PlainRegularItalic";
   src: url("../public/NeueMachina-PlainRegularItalic.otf");
}

.text {
  font-size: 20px;
  font: "NeueMachine-light";
  color: #F5F5F5;
  display: inline;
  width: 80%;
}

.blog {
    box-sizing: border-box;
		min-width: 200px;
		max-width: 800px;
    margin-left: auto;
    margin-right: auto;
		margin: 0 auto;
		padding: 15px;
    max-height: 85vh;
    overflow-y: auto;
}

.bloglist {
    box-sizing: border-box;
		min-width: 200px;
		max-width: 980px;
    margin-left: auto;
    margin-right: auto;
		margin: 0 auto;
		padding: 15px;
    max-height: 65vh;
    overflow-y: auto;
}

.blank {

}

.GameArea{
    width: 800px;
    height: 600px;
    background-color: rgb(29, 26, 26);
    margin: auto;
    position: relative;
    overflow: hidden;
    border-left: 5px solid #CD955C;
    border-top: 5px solid #CD955C;
    border-bottom: 5px solid #CD955C;
    border-right: 5px solid #CD955C;
}

.car {
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 120px;
    background-size: cover;
    background-color: '';
    top: 50px;
    left: 20px;
    border: 10px red;
    text-align: center;
    font-size: 4rem;
    display: block;
} 

.block {
    width: 100px;
    text-align: center;
    font-size: 4rem;
    height: 70px;
    background-color: none;
    border: 10px white;
    color: white;
    position: absolute;
    bottom: 120px;
    background-size: cover;
    top: 50px;
    left: 20px;
    display: block;
}

.backgroundImage {
  background-image: url('../public/space.jpg');
  background-size: cover;
  height: 100vh;
  color: #f5f5f5;
}

.textCenter {
  text-align: center;
}

.verticalAlign {
  text-align: center;
  justify-content: vertical;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.list {
  list-style-type: none;
}

.presentation {
   position: absolute;
   bottom: 250px;
   left: 500px;
   width: 800px; 
   height: 550px; 
}
