.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 2rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #141e24;
}

.footer {
  display: flex;
  flex: 1;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
  color: #CD955C;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  font-family: "NeueMachine-light";
  padding-left: 20rem 0;
  padding-right: 20rem 0;
}

.title a {
  color: #CD5C5C;
  text-decoration: none;
  font-family: "NeueMachine"; 
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: none;
}

.title b {
  font-size: 6rem;
  color: #CD955C;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 10rem;
  font: "NeueMachine-bold";
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 2.5rem;
  color: #CD955C;
  font-family: "NeueMachine-light";
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 800px;
}

.grid b {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}
.grid a { 
  font-size: 1.3rem;
  font-family: "NeueMachine-light";
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: #CD955C;
  text-decoration: none;
  border: 5px solid #CD955C;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  width: 500;
  height: 600;
  object-fit: contain;
  font-family: "NeueMachine-light";
}

.card:hover,
.card:focus,
.card:active {
  color: #CD5C5C;
  border-color: #CD5C5C;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .container {
   padding: 0 2rem;
  }
  .main{
     width: 100%;
     padding: 0rem;
     flex: 100%;
     border: 0px;
  }
  .title {
     font-size: 6rem;
     padding: 1rem;
  }
  .description {
     font-size: 1.5rem;
  }
   .grid {
    width: 100%;
    flex-direction: column;
  }

  .blog {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  }
}

@media (prefers-color-scheme: dark) {
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}

@font-face {
   font-family: "NeueMachine";
   src: url("../public/NeueMachina-Ultrabold.otf");
} 

@font-face {
   font-family: "NeueMachine-light";
   src: url("../public/NeueMachina-Light.otf");
} 

.text {
  font-size: 20px;
  font: "NeueMachine-light";
  color: #F5F5F5;
  display: inline;
  width: 80%;
}

.blog { 
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  background-color: #141e24;
}






